milestone_2/week_4/Day_15/rolling_window_sequences.npy
milestone_2/week_4/Day_15/sequence_metadata_with_RUL.csv
milestone_2/week_4/Day_15/training_log.csv
milestone_2/week_4/Day_16/rolling_window_sequences.npy
milestone_2/week_4/Day_16/sequence_metadata_with_RUL.csv
